.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-section-list {
  display: flex;
  column-gap: 24px;
}

.features-section-item {
  width: 264px;
  max-width: 264px;
}

.features-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.features-icon {
}

.features-section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
