.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo-wrapper {
  margin-right: 0;

  text-align: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;

  display: inline-block;

  margin-bottom: 16px;
}

.page-footer-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-wrapper {
  text-align: center;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #fff;

  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;

  column-gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  /* width: 100%;
  height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: #4d5ae5;

  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/* Modal Footer */

.modal-footer {
  margin-left: 0;

  text-align: center;
}

.form-label-footer {
  display: block;

  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.modal-form-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-input-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 16px;
  width: 100%;
  height: 40px;

  background-color: transparent;

  font-weight: 400;
  font-size: 12px;

  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-footer:focus {
  outline: none;
  border-color: #31d0aa;
}

.form-input-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-btn {
  cursor: pointer;
  border: none;

  display: flex;
  align-items: center;
  gap: 16px;

  margin: 0 auto;

  border-radius: 4px;

  padding: 8px 24px;

  height: 40px;
  max-width: 165px;

  background-color: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

.send-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 24px;
    row-gap: 72px;
  }

  .modal-form-footer {
    flex-direction: row;
  }

  .form-input-footer {
    width: 264px;
  }

  .subscribe-btn {
    margin-left: 24px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .footer-logo-wrapper {
    margin-right: 120px;
  }

  .modal-footer {
    margin-left: auto;
  }
}
