.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms ease-in-out;
}

.modal-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;

  border-radius: 4px;

  padding: 72px 24px 24px;

  max-width: 408px;
  height: 80%;
  max-height: 584px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  background-color: #fcfcfc;

  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  width: 24px;
  height: 24px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;

  line-height: 0;

  background-color: #e7e9fc;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-close:hover .modal-btn-icon,
.modal-btn-close:focus .modal-btn-icon {
  fill: #fff;
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* Form */

.input-wrapper {
  margin-bottom: 8px;
}

.form-label {
  display: block;

  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-svg-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-icon {
  position: absolute;
  fill: #2e2f42;

  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  height: 120px;

  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  resize: none;

  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* .form-textarea:focus::placeholder {
} */

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}

.input-wrapper-comment {
  margin-bottom: 16px;
}

.input-wrapper-agreement {
  margin-bottom: 24px;
}

.native-checkbox:checked + .form-label-checkbox .custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
}

.native-checkbox:checked + .form-label-checkbox .checkbox-icon {
  opacity: 1;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.submit-btn {
  display: block;

  cursor: pointer;
  border: none;

  border-radius: 4px;

  width: 169px;
  height: 56px;

  margin: 0 auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}
